.uk-navbar-item, .uk-navbar-item:visited, .uk-navbar-nav > li > a, .uk-navbar-nav > li > a:visited {
  color: #fff;
}

.uk-navbar-item:hover, .uk-navbar-nav > li > a:hover {
  color: yellow;
  text-decoration: underline;
}

.uk-navbar-item:active, .uk-navbar-nav > li > a:active {
  color: red;
}

  @media (min-width: 500px) {

    nav ul, footer ul {
      display: flex;
      padding: 0;
    }

    nav ul li, footer ul li {
        display: block;
        padding: 0.3em;
      }

    footer ul li + li:before {
      content: " / ";
    }

    .menu-right {
        margin-left: auto;
    }
  }