<header>
	<nav class="uk-navbar-container" uk-navbar>
		<div class="uk-navbar-left">
			<a href="{{ .Site.BaseURL }}" class="uk-navbar-item uk-logo">{{ .Site.Params.homeLinkText | humanize }}</a>
			<ul class="uk-navbar-nav">	
				{{ range .Site.Menus.left }}
					<li><a href="{{ .URL | relURL }}">{{ .Name | humanize }}</a></li>
				{{ end }}
			</ul>
		</div>
    	<div class="uk-navbar-right">
			<ul class="uk-navbar-nav">
				{{ range .Site.Menus.right }}
					<li><a href="{{ .URL | relURL }}">{{ .Name | humanize }}</a></li>
				{{ end }}
			</ul>
		</div>
	</nav>
</header>
