<div>
	<nav>
		<div>
			<a href="{{ .Site.BaseURL }}">{{ .Site.Params.homeLinkText | humanize }}</a>
			<ul>	
				{{ range .Site.Menus.left.ByWeight }}
					<li><a class="uk-text-capitalize" href="{{ .URL | relURL }}">{{ .Name | humanize }}</a></li>
				{{ end }}
			</ul>
		</div>
		<div>
			<ul>
				{{ range .Site.Menus.right.ByWeight }}
					<li><a href="{{ .URL | relURL }}">{{ .Name | humanize }}</a></li>
				{{ end }}
			</ul>
			<a href="#off-canvas-menu">Off canvas</a>
		</div>
	</nav>
</div>
<div>
	<div>
		<button type="button"></button>
		<ul>
			{{ range .Site.Menus.left }}
				<li><a href="{{ .URL | relURL }}">{{ .Name | humanize }}</a></li>
			{{ end }}
			{{ range .Site.Menus.right }}
				<li><a href="{{ .URL | relURL }}">{{ .Name | humanize }}</a></li>
			{{ end }}
		</ul>
	</div>
</div>
